<footer class="footer">
  <div class="content">
    <p>
      <strong><%= website.name %></strong> by
      <a href="<%= website.url %>" target="_blank">
        <%= website.author %>.
      </a>
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloremque cum quos obcaecati facere, dolorum quae nisi ipsam delectus quaerat officiis animi qui accusantium numquam, totam ab soluta molestiae minus.
    </p>
  </div>
</footer>