<footer class="footer has-background-light">
  <div class="content has-text-centered">
    <p>
      <strong><%= siteName %></strong> by <a href="https://ambratolm.ml"><%= authorName %></a>
    </p>
  </div>
</footer>