<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong><%= website.name %></strong> by
      <a href="<% website.url %>">
        <%= website.author %>
      </a>
    </p>
  </div>
</footer>