<section class="section">
  <div class="columns">
    <!-- Feedback-Form -->
    <div class="column is-5">
      <%- include("./partials/feedback-form") %>
      <br />
      <figure>
        <p class="image">
          <img src="/assets/image.jpg" />
        </p>
      </figure>
    </div>

    <!-- Feedbacks-List -->
    <div class="column">
      <%- include("./partials/feedbacks-list") %>
    </div>
  </div>
</section>